/*Esto son el estilo para el menú digamos*/
header{
    border-bottom: 1px solid;
}
nav{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    margin-left: 30px;
    color: black;
}
nav .Links{
    margin-right: 30px;
}
nav .Links a{
    margin: 5px;
    text-decoration: none;
}
.contactar{
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
}

/*Aquí acaba*/
/*Estilo para la primera sección del main*/
main{
    margin: 20px;
}

.SeccionDeCompra{
    display: flex;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
}
.ofertafoto{
    width: 50%;
    margin-top: 60px;
    height: 400px;
}
.SeccionDeCompra article{
    flex-direction: column;
}
.SeccionDeCompra article h6{
    color: red;
}
.PrecioCompra{
    display: flex;
}
.PrecioCompra h1{
    font-size: 25px;
}
.PrecioCompra a{
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: white;
    border: 1px solid black;
    background-color: rgb(78, 125, 255);
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.PrecioCompra a:hover{
    background-color: rgb(43, 74, 158);
    color: rgb(255, 255, 255);       
}
p{
    width: 95.6%;
}
.Condiciones{
    display: flex;
    align-items: center;
}
.Condiciones img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.Condiciones p{
    font-size: 15px;
    margin-right: 50px;
}
/*Aqui acaba el estilo para la primera sección del main*/
/*Estilo para la segunda sección del main*/
.Seccióndeaccesorios{
    display: flex;
    margin-top: 20px;
    width: 100%;
    flex-wrap: wrap;
    margin: 40px;
    
}
.Seccióndeaccesorios h1{
    width: 100%;
    font-size: 40px;
}
.Seccióndeaccesorios {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.articulo1{
    border: 2px solid;
    width: 22.5%;
    margin-right: 22.5px;
    display: flex;
    flex-direction: column;
}
.descripcion1{
    margin-left: 10%;
    margin-bottom: 10%;
    margin-right: 10%;
}
.articulo1 img{
    width: 80%;
    height: 200px;
    margin-top: 10%;
    margin-left: 10%;
}
.articulo2{
    border: 2px solid;
    width: 22.5%;
    margin-right: 22.5px;
}
.descripcion2{
    margin-left: 10%;
    margin-bottom: 10%;
    margin-right: 10%;
}
.articulo2 img{
    width: 80%;
    height: 200px;
    margin-top: 10%;
    margin-left: 10%;
}
.articulo3{
    border: 2px solid;
    width: 22.5%;
    margin-right: 22.5px;
}
.descripcion3{
    margin-left: 10%;
    margin-bottom: 10%;
    margin-right: 10%;
}
.articulo3 img{
    width: 80%;
    height: 200px;
    margin-top: 10%;
    margin-left: 10%;
}
.articulo4{
    border: 2px solid;
    width: 22.5%;
    margin-right: 22.5px;
}
.descripcion4{
    margin-left: 10%;
    margin-bottom: 10%;
    margin-right: 10%;
}
.articulo4 img{
    width: 80%;
    height: 200px;
    margin-top: 10%;
    margin-left: 10%;
}
.estadoOferta{
    color: white;
    background-color: red;
    border: 1px solid rgb(15, 15, 15);
    width: 30%;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
}
.estadoNuevo{
    color: white;
    background-color:  rgb(78, 125, 255);
    border: 1px solid rgb(15, 15, 15);
    width: 30%;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
}
/*Aqui acaba el estilo para la segunda sección del main*/
/*Estilo para la tercera sección del main*/
.Seccióndesorteo{
    display: flex;
    margin-top: 20px;
    width: 95.6%;
    margin: 40px;
    background-color: rgb(220, 229, 255);
}
.sorteo{
    display: flex;
    flex-direction: column;
    margin: 5%;
    width: 40%;
}
.sorteo h1{
    font-size: 40px;
}
.formulario{
    display: flex;
    margin: 5%;
    width: 40%;
    justify-content: center;
    align-items: center;
}
.formulario input{
    width: 140%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid;
    border-color: rgb(202, 202, 202);
}
.formulario input::placeholder{
    font-size: 15px;
    padding: 10px;
}
.formulario button{
    width: 40%;
    height: 40px;
    background-color: rgb(78, 125, 255);
    border: 1px solid black;
    border-radius: 5px;
    color: white;
}
.formulario button:hover{
    background-color: rgb(43, 74, 158);
    color: white;
}
.formulario label{
    font-size: 20px;
}